<!DOCTYPE html>
<html>
<head>
  <title>Beautinformation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

</head>
<body>

<%= yield %>

</body>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Beautinformation</h5>
        <p class="grey-text text-lighten-4">
          Beautinformation은 Youtube API 소스를 사용 중입니다. 모든 무료 비디오는 Youtube 서비스에서 제공됩니다. YouTube에서 동영상을 검색하고 재생할 수 있습니다.
          API 이용 약관을 준수함으로써 Google은 어떠한 트랙도 캐싱 및 다운로드하지 않습니다.(비디오 다운 로더가 아님
          침해 할 수있는 콘텐츠를 신고하려면 다음 링크를 사용하십시오. copyrights:https://www.youtube.com/yt/copyright/
          화면이 꺼져 있거나 잠금 화면에서 음악을 재생하는 것은 YouTube 이용 약관에 의해 허용되지 않습니다.
          Beautinformation은 Youtube 이용 약관을 준수합니다.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Beautinformation 이용약관&정책</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://docs.google.com/document/d/e/2PACX-1vRNeF8m67u3qA0kZKQCbMA-okdHa9HKnoNaOaBz-u-tYxUwLUOCCuXziW3hOXx172DtNvb_6lJsYo91/pub">개인정보처리방침</a></li>
          <li><a class="grey-text text-lighten-3" href="https://docs.google.com/document/d/e/2PACX-1vTKfbpDf_9aJ1RDCYjKgwew6rum34CsO8tPnnf2sIt91WwbiGzqOmCZyS_QuXX_MiGNFgLpbJCb1lA8/pub">이용약관</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/static?gl=KR&template=terms">유튜브 이용약관</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/intl/ko/yt/about/policies/#community-guidelines">유튜브 정책</a></li>
          <li><a class="grey-text text-lighten-3" href="https://developers.google.com/youtube/terms/api-services-terms-of-service">유튜브 API 정책</a></li>
          <li><a class="grey-text text-lighten-3" href="https://policies.google.com/privacy?hl=ko">구글 개인정보처리방침</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 Copyright Beautinformation Contact : lockertiger@gmail.com
    </div>
  </div>
</footer>

</html>
